<template>
  <div>
    <img :src="image" alt="" />

    <h4>{{ foodName }}</h4>
    <h4>Price:{{ price }}</h4>
    <h6>{{ hotelName }}</h6>

    <button id="addi" @click="addToCart">Add</button>
  </div>
</template>

<script>
export default {
  props: ['id', 'foodName', 'hotelName', 'price', 'image'],

  methods: {
    addToCart() {
      this.$store.dispatch('cart/addToCart', {
        id: this.id,
      });
    },
  },
};
</script>
<style scoped>
div {
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 3rem;
  margin: 8rem;
  max-width: 30rem;
  height: 10rem;
}
img {
  float: left;
  height: 8rem;
  width: 8rem;
}

h4 {
  position: relative;
  left: 100px;
}
h6 {
  position: relative;
  left: 100px;
}

#qty {
  position: relative;
  float: right;
  bottom: 20px;
  border-radius: 1px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  padding: 10px;
  margin: 10px;
  max-width: 10px;
}
#addi,
#deci {
  position: relative;
  float: right;
  bottom: 20px;
  padding: 10px;
  margin: 10px;
  max-width: 100px;
  background-color: green;
}
</style>
