<template>
  <div>
    <section id="checkout">
      <h3>{{ cartQuantity }}</h3>
      <h3>{{ totalAmount }}</h3>
      <button v-on:click="checkout">Check Out</button>
    </section>

    <ul>
      <addto-cart
        v-for="food in cartItems"
        :key="food.foodId"
        :id="food.foodId"
        :foodName="food.foodName"
        :image="food.image"
        :price="food.price"
        :qty="food.qty"
      ></addto-cart>
    </ul>
  </div>
</template>
<script>
import AddtoCart from '../../components/AddtoCart/AddtoCart.vue';
export default {
  components: {
    AddtoCart,
  },

  computed: {
    cartItems() {
      return this.$store.getters['cart/fooditems'];
    },
    cartQuantity() {
      if (this.$store.getters['cart/quantity'] === 0) {
        return '';
      } else return this.$store.getters['cart/quantity'] + ' ' + 'items';
    },
    totalAmount() {
      const result = this.$store.getters['cart/totalSum'];

      if (result === 0) {
        return 'No item in your cart';
      } else {
        return 'Total :' + this.$store.getters['cart/totalSum'] + '/-';
      }
    },
    checkout() {
      const result = this.$store.getters['cart/totalSum'];
      if (result === 0) {
        return window.alert('No items in your cart please check menu');
      } else return window.alert('Your order placed sucessfully');
    },
  },
};
</script>
<style scoped>
h3 {
  text-align: center;
}
button {
  display: flex;
  background-color: rgb(235, 160, 20);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -200px;
}
#checkout {
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding-top: 2rem;
  padding-bottom: 5rem;
  margin: 2rem;
  max-width: 30rem;
  height: 5rem;
  justify-content: center;
  position: relative;
  right: -400px;
}
</style>
