<template>
  <section>
    <img :src="image" alt="" />
    <h4>{{ foodName }}</h4>
    <h4>Cost per item: {{ price }}/-</h4>
    <h4>Total quantity per item: {{ qty }}</h4>
    <h4 id="total">Total cost per item: {{ itemTotal }}/-</h4>
    <button id="addi" @click="addToCart">+</button>
    <p id="qty">{{ qty }}</p>
    <button id="deci" @click="decitem">-</button>
  </section>
</template>
<script>
export default {
  props: ['fId', 'foodName', 'image', 'price', 'qty', 'id'],
  computed: {
    itemTotal() {
      return (this.price * this.qty).toFixed(2);
    },
  },
  methods: {
    addToCart() {
      this.$store.dispatch('cart/addToCart', {
        id: this.id,
      });
    },
    decitem() {
      this.$store.dispatch('cart/decrement', {
        id: this.id,
      });
    },
  },
};
</script>

<style scoped>
section {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 3rem;
  margin: 5rem;
  max-width: 30rem;
  height: 15rem;
}
img {
  float: left;
  height: 8rem;
  width: 8rem;
}

h4 {
  position: relative;
  left: 100px;
}
h6 {
  position: relative;
  left: 100px;
}
#total {
  position: relative;
  left: 230px;
}

#x {
  position: relative;
  float: right;
  background: red;
  color: white;
  top: -185px;
  right: -45px;
}
#qty {
  position: relative;
  float: right;
  bottom: 20px;
  border-radius: 1px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
  padding: 10px;
  margin: 10px;
  max-width: 10px;
}
#addi,
#deci {
  position: relative;
  float: right;
  bottom: 20px;
  padding: 10px;
  margin: 10px;
  max-width: 100px;
}
</style>
