<template>
  <header>
    <nav>
      <ul>
        <li><router-link to="/"></router-link></li>
        <li><router-link to="/AllFood">Menu</router-link></li>
        <li><router-link to="/Cart">AddCart</router-link></li>

        <head>
          <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
          />
        </head>
        <body>
          <button
            class="fa fa-shopping-cart"
            style="font-size: 48px; color: red"
            @click="$router.push('/Cart')"
          ></button>
          <span class="badge badge-warning" id="lblCartCount">
            {{ cartQuantity }}
          </span>
        </body>
      </ul>
    </nav>
  </header>
</template>
<script>
export default {
  computed: {
    cartQuantity() {
      return this.$store.getters['cart/quantity'];
    },
  },
};
</script>

<style scoped>
header {
  width: 100%;
  height: 5rem;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
}

a:active,
a:hover,
a.router-link-active {
  border: 1px solid black;
}

h1 {
  margin: 0;
}

h1 a {
  color: white;
  margin: 0;
}

h1 a:hover,
h1 a:active,
h1 a.router-link-active {
  border-color: transparent;
}

header nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: normal;
  align-items: center;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 0.5rem;
}

button {
  position: relative;
  right: -800px;
}
.badge {
  padding-left: 30px;
  padding-right: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 12px;
  background: white;
  color: black;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
  position: relative;
  right: -800px;
}
</style>
